{% extends 'base.jinja2' %}

{% block subtitle %}All Donors{% endblock subtitle %}

{% block content %}
<ol>
    {% for donor in donors %}
        <li>{{ donor.name }}</li>
    {% endfor %}
</ol>
{% endblock content %}